<div class="container">
<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<table class="table-container">
  <thead>
    <tr>
      <th>Name of your lead</th>
      <br>
      <th>User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</div>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.name %></td>
        <td><%= lead.user_id %></td>
        <td><%= link_to 'Show', lead , class: "bttn" %></td>
        <% if policy(lead).edit? %>
          <td><%= link_to 'Edit', edit_lead_path(lead), class: "bttn"  %></td>
        <% end %>
        <% if policy(lead).destroy? %>
          <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } , class: "bttn" %></td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(Lead).new? %>
<%= link_to 'Create A New Lead', new_lead_path, class: "bttn" %>
<% end %>
<br>
<div>
<br>
<span class="badge badge-success">NOTE THAT ONLY IF YOU ARE LOGGED IN AS "ADMIN" WILL YOU BE ABLE TO EDIT AND DESTROY DATA</span>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br>

</div>
