<div class="container">
<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.name %></td>
        <td><%= lead.user_id %></td>
        <td><%= link_to 'Show', lead %></td>
        <% if policy(lead).edit? %>
          <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <% end %>
        <% if policy(lead).destroy? %>
          <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(Lead).new? %>
<%= link_to 'Create A New Lead', new_lead_path %>
<% end %>
</div>